
{# This particular parameter may not always be set. Let's set it. #}
{% if filterType is not defined %}
	{% set filterType = '' %}
{% endif %}
{# For the default filter state, there may not even be a fieldHandle. #}
{% if fieldHandle is not defined %}
	{% set fieldHandle = '' %}
{% endif %}
{# The field value is another parameter that might be absent. #}
{% if fieldValue is not defined %}
	{% set fieldValue = '' %}
{% endif %}
{% if elementTypeKey is not defined %}
	{% set elementTypeKey = 'entries' %}
{% endif %}


{# Fetch the field options by handle. #}
{% if fieldHandle == 'status' or fieldHandle == 'orderStatus' %}
	{% set fieldOptions = craft.cpfilters.statusOptions(elementTypeKey) %}
{% else %}
	{% set fieldOptions = fieldHandle ? craft.cpfilters.fieldOptions(fieldHandle) : [] %}
{% endif %}

{% if fieldOptions is empty %}
	<input class="text filterValue" type="text" name="filters[{{ index }}][value]" {% if 'empty' in filterType %}readonly="readonly"{% endif %} data-filter-value data-idx="{{ index }}" value="{{ fieldValue }}"  >
{% else %}
	<div class="select" >
		<select class="filterValue" id="filterSelect{{ index }}" name="filters[{{ index }}][value]" {% if 'empty' in filterType %}readonly="readonly"{% endif %} data-filter-value="select" data-idx="{{ index }}" >
			{# The order of the status id and handle are reversed for orderStatus
				since it's difficult to use non-sequential numbers as array keys
			#}
			{% if fieldHandle == 'orderStatus' %}
				{% for opValue,opLabel in fieldOptions %}
					<option value="{{ opLabel }}" {% if opValue|t is same as(fieldValue|t) %}selected="selected"{% endif %} >{{ opValue|e }}</option>
				{% endfor %}
			{% else %}
				{% for opValue,opLabel in fieldOptions %}
					<option value="{{ opValue }}" {% if opValue|t is same as(fieldValue|t) %}selected="selected"{% endif %} >{{ opLabel|e }}</option>
				{% endfor %}
			{% endif %}
		</select>
	</div>
{% endif %}
