{# Get this user's saved filters for this type #}
{% set elementTypeKey = selectedSubnavItem %}
{% set savedFilters = craft.cpfilters.savedFilters({ 'userId' : currentUser.id, 'filterElementType': elementTypeKey }).orderBy('dateCreated', 'desc').all() %}


{# Craft CMS hates bottom margins. #}
<div id="fields" style="margin-bottom:5rem" >
	<table class="data fullwidth fixed-layout filteredTable" dir="ltr" style="margin-bottom:3rem" >
		<thead>
			<tr>
				<th>Title</th>
				<th>View Results</th>
				<th>Date Updated</th>
				<th>Delete Filter</th>
			</tr>
		</thead>
		<tbody>
		{% for element in savedFilters %}
			<tr id="element-{{ element.id }}" class="filter-row">
				<td>{{ element.title }}</td>
				<td>
					{% if element.filterCriteria %}
						<a href="{{ craft.cpfilters.createFilterUrl(element) }}" class="btn">View Results
						</a>
					{% else %}
						--
					{% endif %}
				</td>
				</td>
				<td>{{ element.dateUpdated|date('Y-m-d g:i a') }}</td>
				<td>
					<form method="post" accept-charset="UTF-8" autocomplete="off" data-action="{{ url('cpfilters/delete-filter') }}" class="deleteFilterForm">
						{{ csrfInput() }}
						<input type="hidden" name="filterId" value="{{ element.id }}">
						<a href="#" class="btn submit deleteFilterButton">Delete</a>
					</form>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
